/**********************************************************************************************************************************************************
 * IMPORTED STYLES																																																																        *
 *********************************************************************************************************************************************************/
@import url('1140/1140.css');
@import url('1140/ie.css');
@import url('1140/styles.css');
    /**********************************************************************************************************************************************************
    * FONT KITS																																																														                  *
    *********************************************************************************************************************************************************/
@import url('fonts/codepro/stylesheet.css');
@import url('fonts/franchise/stylesheet.css');
@import url('fonts/marketing/stylesheet.css');
@import url('fonts/sofiapro/stylesheet.css');

/**********************************************************************************************************************************************************
 * DEFAULTS/NORMALIZATIONS/BODY																																																														*
 *********************************************************************************************************************************************************/
* {
    margin:0;
    padding:0;
}


/**********************************************************************************************************************************************************
 * HEADER/NAVIGATION        																																																															*
 *********************************************************************************************************************************************************/
nav a {
    color: white;
    text-decoration: none;
    font-weight: normal;
}

nav a:visited {
    color: white;
    text-decoration: none;
    font-weight: normal;
}

nav a:hover {
    color: #98A3A8;
    text-decoration: none;
    font-weight: normal;
}

a.current-about {
    background: url('../images/general/about-active.png') no-repeat -17px 5px;
    height: 55px;
}

a.current-services {
    background: url('../images/general/about-active.png') no-repeat 0 5px;
    height: 55px;
}

a.current-work {
    background: url('../images/general/about-active.png') no-repeat -25px 5px;
    height: 55px;
}

a.current-contact {
    background: url('../images/general/about-active.png') no-repeat 0 5px;
    height: 55px;
}

a {
    color:#ff92c9;
    text-decoration: none;
    font-weight: bolder;
}

a:visited {
    color:#ff92c9;
    text-decoration: none;
    font-weight: bolder;
}

a:hover {
    color:#ff92c9;
    text-decoration: none;
}
/**********************************************************************************************************************************************************
 * CONTENT       																																																															            *
 *********************************************************************************************************************************************************/

/**********************************************************************************************************************************************************
 * FOOTER      																																																															            *
 *********************************************************************************************************************************************************/

/**********************************************************************************************************************************************************
 *     																																																															            *
 *********************************************************************************************************************************************************/
