/**********************************************************************************************************************************************************
 * DEFAULTS/NORMALIZATIONS/BODY																																																														*
 *********************************************************************************************************************************************************/
body {
    overflow: hidden;
}
/**********************************************************************************************************************************************************
 * HEADER/NAVIGATION        																																																															*
 *********************************************************************************************************************************************************/
section#services-wrapper header#services-header {
    height: 54px;
    background-color: #5B544B;
}

section#services-wrapper header#services-header div#logo {
    padding:4px 5px;
    float:left;
}

section#services-wrapper header#services-header nav#services-nav {
    color: white;
    font-family:sofiaprolight;
    text-align: right;
    padding: 31px 0 0 0;
}

section#services-wrapper header#services-header nav#services-nav a {
    display: inline-block;
    font-size: 20px;
}

section#services-wrapper header#services-header nav#services-nav a:first-child {
    padding: 0 55px 0 0;
}

section#services-wrapper header#services-header nav#services-nav a:nth-child(2) {
    padding: 0 55px 0 0;
}

section#services-wrapper header#services-header nav#services-nav a:nth-child(3) {
    padding: 0 55px 0 0;
}

/**********************************************************************************************************************************************************
 * CONTENT       																																																															            *
 *********************************************************************************************************************************************************/

section#services-wrapper {
    margin: 0;
    padding: 0;
}

section#services-wrapper img#services_bg {
    position:absolute;
    z-index: -99;
}

section#services-wrapper section#services-content {
    color:white;
    font-family: sofiaprolight;
}

section#services-wrapper section#services-content header {
    margin: 10% auto 0 auto;
    z-index: -100;
}

section#services-wrapper section#services-content article {
    margin:18% auto;
    font-size:20px;
}

section#services-wrapper section#services-content article p {
    margin:2% auto;
}

section#services-wrapper section#services-content article ul{
    z-index: 1000;
}

section#services-wrapper section#services-content article ul li{
    display: inline;
    list-style-type: none;
}

section#services-wrapper section#services-content article ul li:nth-child(2){

}

.service-item {
    width:350px;
    height:190px;
    margin: 0;
}
div#blackout {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    background-color: #000;
    opacity: .6;
}

/*Development Block */
section#services-wrapper section#services-content article ul #development{
    width:350px;
    font-size: 18px;
    background: url('../../images/services/development_bg.png') repeat;
    padding: 5px;
    position: relative;
    top:0;
    left:0;
}

section#services-wrapper section#services-content article ul #development .dev-title{
    font-size: 20px;
    font-family: codeprodemoregular;
    display: block;
    margin:  0 0 30px 0;
}

/*Design Block */
section#services-wrapper section#services-content article ul #design{
    width:350px;
    text-align: center;
    font-size: 18px;
    background: url('../../images/services/design_bg.png') repeat;
    padding: 5px;
    position: relative;
    top:0;
    left:30px;
}

section#services-wrapper section#services-content article ul #design .design-title{
    font-size: 35px;
    font-family: marketingscriptregular;
    display: block;
    margin:  -7px 0 20px 0;
}

/*Consulting Block */
section#services-wrapper section#services-content article ul #consulting{
    width:350px;
    text-align: right;
    font-size: 18px;
    background: url('../../images/services/consulting_bg.png') repeat;
    padding: 5px;
    position: relative;
    top:0;
    left:60px;
}

section#services-wrapper section#services-content article ul #consulting .consulting-title{
    font-size: 35px;
    font-family: franchiseregular;
    display: block;
    margin:  -5px 0 25px 0;
}

div.service-details {
    margin: -10px  0;
    text-align: left;
    padding:5px;
}

section#services-wrapper section#services-content article ul li div.service-details p {
    margin:5px 0 25px 10px;
}
/**********************************************************************************************************************************************************
 * FOOTER      																																																															            *
 *********************************************************************************************************************************************************/
section#services-wrapper footer#services-footer {
    height:15px;
    background-color: #48555B;
}
/**********************************************************************************************************************************************************
 *     																																																															            *
 *********************************************************************************************************************************************************/
