/**********************************************************************************************************************************************************
 * IMPORTED STYLES																																																																        *
 *********************************************************************************************************************************************************/

/**********************************************************************************************************************************************************
 * FONT KITS																																																														                  *
 *********************************************************************************************************************************************************/


/**********************************************************************************************************************************************************
 * DEFAULTS/NORMALIZATIONS/BODY																																																														*
 *********************************************************************************************************************************************************/

/**********************************************************************************************************************************************************
 * HEADER/NAVIGATION        																																																															*
 *********************************************************************************************************************************************************/
section#work-wrapper section#work-content article section#work-details-wrapper div.work-details header {
    margin: 10px 10px;
    padding: 0
}

section#work-wrapper section#work-content article section#work-details-wrapper div.work-details header img{
    position: relative;
    top: -40px;
    left:78%;
}
/**********************************************************************************************************************************************************
 * CONTENT       																																																															            *
 *********************************************************************************************************************************************************/
section#work-wrapper section#work-content article section#work-details-wrapper div.work-details section {
    margin: 2%;
}

section#work-wrapper section#work-content article section#work-details-wrapper div.work-details section article {
    margin: 2%;
}

section#work-wrapper section#work-content article section#work-details-wrapper div.work-details section article img{
    margin: 1% 21.5%;
}

section#work-wrapper section#work-content article section#work-details-wrapper div.work-details section article iframe{
    margin: 1% 23.5%;
}

section#work-wrapper section#work-content article section#work-details-wrapper div.work-details .status .status-header .status-value {
    color:#ff92c9;
    font-style: italic;
}
/**********************************************************************************************************************************************************
 * FOOTER      																																																															            *
 *********************************************************************************************************************************************************/

/**********************************************************************************************************************************************************
 *     																																																															            *
 *********************************************************************************************************************************************************/
